@if(match)
{
    
<div class="
hover:bg-blue-400 
h-full
transition-all
hover:border-b-green-800
rounded-xl cursor-pointer border-b-orange-500 border-b-8 card border p-4 bg-white shadow-lg mt-2">
    <div class="header border-b-2 pb-3 border-b-gray-200">
<h1>{{match.teamHeading}}</h1>
<p>{{match.matchNumberVenu}}</p>
    </div>
    <div class="body">
<div class="flex justify-between px-2">
    <p class="font-bold">{{match.battingTeam}}</p>
    <p class="font-bold">{{match.battingTeamScoure}}</p>
</div>

<div class="flex justify-between px-2">
    <p class="font-bold">{{match.bowlTeam}}</p>
    <p class="font-bold">{{match.bowlTeamScour}}</p>
</div>
    </div>
    <div class="footer">
<p class="text-red-700">{{match.LiveText}}</p>
<p class="text-green-700">{{match.textComplete}}</p>

    </div>
</div>
    
}